*{              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body,
#root{
    width: 100%;
    min-height: 100vh;
}

body{
    margin: 0;
    overflow: hidden; /*넘어가는 부분을 숨기는 것
                        auto를 넣으면 스크롤이 생김*/
    background: #f1f5f9;
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}